[submodule "public"]
	path = public
	url = git@github.com:Mammoth777/Mammoth777.github.io.git

[submodule "themes/maupassant-hugo"]
	path = themes/maupassant-hugo
	url = git@github.com:Mammoth777/maupassant-hugo.git